a, body, button, div, fieldset, footer, form, h1, h2, header, html, img, input, label, legend, li, main, p, section, ul {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

body {
  display: grid;
  grid-template-columns: 300px auto;
  grid-template-rows: auto 60px;
  background: url('https://i.imgur.com/wsFyz8e.jpg?1') no-repeat center center fixed;
  background-size: cover;
}

.left-column {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  align-self: flex-start;
  margin: 26px;
  padding-bottom: 5px;
  margin-right: 0;
  background-color: white;
  border: 4px black solid;
}

main {
  position: relative;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

#gallery {
  display: flex;
  padding: 13px;
}

.each-website {
  display: inline-block;
  position: relative;
  background-color: white;
  max-width: 500px;
  min-width: 250px;
  margin: 13px;
  border: 4px black solid;
  box-shadow: 10px 10px;
}

.website-image {
  display: block;
  width: 100%;
  height: auto;
}

.detail-image {
  max-width: 800px;
}

button, .anchor-button {
  height: 40px;
  font-size: 22px;
  padding-left: 5px;
  padding-right: 5px;  
  margin: 10px;
  border: 2px black solid;
  box-shadow: 4px 4px black;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: none;
}


#gallery-link {
  height: 60px;
  width: 92%;
  font-size: 28px;
}

.p-text, #filters, .padding-div {
  font-size: 22px;
  font-weight: normal;
  padding: 10px;
}

.p-text {
  padding-bottom: 0;
}

ul {
  font-size: 20px;
  padding-left: 30px;
  list-style-type: square;
  margin: 10px;
}

#filters {
  padding-top: 5px;
}

#login-form {
  height: auto;
}

.label-margin {
  display: block;
  margin-top: 10px;
}

.website-detail {
  max-width: 800px;
  min-width: 250px;
  background-color: white;
  margin: 20px;
  border: 4px black solid;
  box-shadow: 10px 10px;
}

.detail-wrapper{
  padding: 10px;
}

.anchor-button {
  display: block;
  background-color: white;
  color: black;
  text-decoration: none;
  width: 155px;
  padding-top: 5px;
}

.anchor-button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: bold;
  box-shadow: none;
}

footer {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

#logout {
  position: absolute;
  margin: 0 23px 26px 26px;
}

footer .anchor-button {
  float: right;
  width: 80px;
  margin: 0 26px 26px 13px;
}

.delete:hover, #logout:hover {
  background-color: #e60000;
  color: black;
  font-weight: bold;
}

#notification {
  font-size: 22px;
  color: #e60000;
  margin: 0 10px 0 10px;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid black;
}

input[type='checkbox']:checked {
  background: black;
}

input::placeholder {
  font-size: 20px;
}

.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .5s ease;
  overflow: auto;
  padding: 10px;
}

.each-website:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  position: relative;
  display: inline;
  padding: 5px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.website-title {
  font-size: 28px;
}

.website-tags, .website-notes {
  font-size: 24px;
}

.text-input {
  display: block;
  height: 30px;
  width: 100%;
  font-size: 18px;
  padding-left: 10px;
  border-bottom: 2px dashed;
}

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 2px;
  height: 75%;
  background-color: black;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}