html, body, button, div, h1, h2, img, input, fieldset, form, label, legend, main, header, p, section {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
  font-family: 'Gothic A1', sans-serif;
}

body {
  background: url('https://i.imgur.com/wsFyz8e.jpg') no-repeat center center fixed;
  background-size: cover;
  font-size: 30px;
}

.flex-wrapper {
  display: flex;
}

.left-column {
  min-width: 300px;
  height: 0%;
  margin: 20px;
  border: 3px black solid;
  background-color: white
}

#gallery {
  display: flex;
}

.each-website {
  display: inline-block;
  position: relative;
  background-color: white;
  max-width: 500px;
  min-width: 250px;
  margin: 20px;
  border: 3px black solid;
  box-shadow: 10px 10px;
}

.website-image {
  display: block;
  width: 100%;
  height: auto;
}

.detail-image {
  max-width: 800px;
}

button {
  height: 55px;
  width: 100%;
  font-size: 30px;
  text-align: left;
  padding-left: 10px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: bold;
}

header:hover {
  cursor: pointer;
}

#gallery-link {
  border-color: black;
  border-style: solid;
}

.border-top {
  border-top: 3px;
  border-color: black;
  border-style: solid;
}

.p-text, #filters, .padding-div {
  font-size: 26px;
  padding: 10px;
}

.p-text {
  padding-bottom: 0;
}

#filters {
  padding-top: 0;
}

#login-form {
  height: auto;
}

.submit {
  display: block;
  height: 45px;
  width: 97%;
  border: 0;
  border-top: 3px;
  padding-top: 10px;
  padding-left: 10px;
  border-color: black;
  border-style: solid;
}

.submit:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  font-weight: bold;
}

.submit:hover {
  cursor: pointer;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid black;
}

input[type='checkbox']:checked {
  background: black;
}

input[type='text'] {

}

.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .5s ease;
  overflow: auto;
  padding: 10px;
}

.each-website:hover .overlay {
  opacity: 1;
  cursor: pointer;
}

.text {
  position: relative;
  display: inline;
  padding: 5px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.website-title {
  font-size: 32px;
}

.website-tags {
  font-size: 26px;
}

.website-notes {
  font-size: 22px;
}

.text-input {
  display: block;
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding-left: 10px;
  background-color: black;
  color: white;
}

input::placeholder {
  font-size: 20px;
  color: white;
}

footer {
  position: relative;
  width: 40px;
  left: 0;
  bottom: 0;
  margin: 20px;
  border: 3px black solid;
}

footer button {
  height: 40px;
}

.cursor {
  position: relative;
}
.cursor i {
  position: absolute;
  width: 3px;
  height: 75%;
  background-color: white;
  left: 5px;
  top: 10%;
  animation-name: blink;
  animation-duration: 800ms;
  animation-iteration-count: infinite;
  opacity: 1;
}

.cursor input:focus + i {
  display: none;
}

@keyframes blink {
  from { opacity: 1; }
  to { opacity: 0; }
}