html, body, button, div, h1, h2, img, input, fieldset, form, label, legend, main, header, p, section {
	margin: 0;
	padding: 0;
	border: 0;
  box-sizing: border-box;
}

body {
  /*
  background-color: #F8D5F0;
  */
  font-family: 'Questrial', sans-serif;
}

header {
  height: 50px;
  border-width: 3px 3px 0 3px;
  border-color: black;
  border-style: solid;
  padding: 10px;
}

#header-link {
  position: absolute;
  font-size: 30px;
}

#logout {
  text-align: right;
}

header:hover {
  cursor: pointer;
}

.left-column {
  padding: 10px;
}

#auth-forms,  {
  border-width: 0 3px 0 0;
  border-color: black;
  border-style: solid;
  padding-left: 10px;
  /*
  background-color: #F8D5F0;
  */
}

main {
  display: flex;
  border: 3px black solid;
  height: 100vh;
  /*
  background: url('https://i.imgur.com/bHOoaJc.jpg') no-repeat center center fixed;
  background-size: cover;
  */
}

#menu {
  min-width: 300px;
  /*
  background-color: #F8D5F0;
  */
}

#gallery {
  display: flex;
  border-left: 3px black solid;
}

.each-website {
  display: inline-block;
  position: relative;
  max-width: 500px;
  min-width: 250px;
  margin: 20px;
  border: 3px black solid;
  box-shadow: 10px 10px;
}

.website-image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  opacity: 0;
  transition: .5s ease;
  overflow: auto;
  padding: 10px;
}

.each-website:hover .overlay {
  opacity: 0.9;
}

.text {
  position: relative;
  display: inline;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.website-title {
  font-size: 30px;
}

.website-tags {
  font-size: 20px;
  line-height: 30px; 
}

.text-link {
  color: blue;
  text-decoration: underline;
}

.text-link:hover {
  cursor: pointer;
}

.text-input {
  height: 20px;
  border: 1px black solid;
}